*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav a
{
   color: #fff;
   font-weight: bold;

}
nav a:hover
{
	color: #000;
}

.ad1
{
	text-align: center;
	padding: 20px;

}
.gif
{
	padding: 20px;
	margin-top: 20px;
}
.para
{
	border-top:1px solid #000; 
	border-bottom: 1px solid #000;
}
.head1
{
	border-top:2px solid #000; 
	border-bottom: 1px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40px;
}
.head2
{
	border-top:2px solid #000; 
	border-bottom: 1px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40px;
	color: red;
}
.head3
{
	font-weight: bold;
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
	color: #000;
}
.f1
{
	border-bottom: 2px solid #000;
}